*{
    margin: 0;
    padding: 0;
}
    /* a{
        text-decoration: none;
        color: black;
    } */
/*Começo do header*/

.header{
    background-color: #B4FF5C;
    width: 100%;
    border-bottom: solid 3px black;
    position: fixed;
    display: flex;
    align-items: center;
}

.ul{
    margin-left: 420px;
}

li{
    margin-top: 4px;
}

.navBar {
    color: #000000;
    list-style: none;
    display: flex;
    justify-content: space-around;
}  

.container {
    display: flex;
    margin-left: 230px;
    height: 60px;
    align-items: center;
    
}

.header .container {
    justify-content: space-between;
    align-items: center;
    
}

section{
    min-height: 90vh;
    width: 100%;
}

ul{
    align-items: center;
    height: 60px;
    align-items: center;
    display: flex;
    margin-top: 0;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    margin: 15px 10px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: all 0.25s ease-in-out;
}

ul li a:hover{
    border-bottom: 3px solid #396a01;
}

.conteudo{
    display: flex;
}

.imagem-conteudo{
    margin-left: 10px;
    margin-top: 90px;
  }

.conteudo-menu{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 100px;
}

.texto1-conteudo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    width: 650px;
    margin-top: 40px;
}

.texto2-conteudo{
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

button{
    width: 200px;
    height: 40px;
    background-color: #B4FF5C;
    font-family: 'Barlow';
    font-weight: bold;
    font-size: medium;
    box-shadow: 5px 5px #000;
    border: 0px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    margin-top: 20;
    margin-top: 20px;
}

.abrir{
    margin-top: 5px;
    text-decoration: none;
    color: black;
}

.abrirlogin{
    display: flex;
    flex-direction: column;
    background-color: #B4FF5C;
    border-radius: 10px;
    padding: 2px;
    width: 70px;
    text-align: center;
}

/*Fim do header*/

/*Começo serviço*/

.box-servico{
    width: 400px;
    height: 250px;
    padding: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #B4FF5C;
    border-radius: 15%;
    box-shadow: 10px 10px #003A00;
    text-align: center;
}

.container2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotos-servico{
    width: 20px;
}

.tituloServiço{
    padding: 10px;
}

/*Fim serviço*/

/*Começo parceiros*/

.parceiros {
    width: 100%;
    height: 250px;
    background-color: #B4FF5C;
    margin-bottom: 5%;
    margin-top: 100px;
}

.parceiros .container2 {
    display: flex;
    flex-wrap: wrap;
}

.line1 .container2 {
    display: flex;

}

.line1 {
    display: flex;
    font-size: 13px;
    margin: 2%;
    width: 100%;
    height: 22px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.line1 img {
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.line2 {
    height: 200px;
}

.seta1{
margin-left: 20px;
}

/*Fim empresas parceiras */

/*Começo quem somos */

.cards .card{
    width: 200px;
    height: 250px;
    background-color: #B4FF5C;
    margin: 3%;
    text-align: center;
    padding: 3%;
    border-radius: 10%;
    box-shadow: -3px -3px #22222262;
    font-family: 'Barlow';
    align-items: center;
    padding: 40px;
}

.cards .card h1{
    font-size: 35px;
    font-weight: bolder;
}
.cards .card p{
    font-size: 18px;
    margin-top: 20px;
}

.divisao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.divisao .linha{
    width: 40%;
    height: 10px;
    margin-left: 30%;
    margin-right: 20%;
    background-color: #05FF00;
    border-radius: 20px;
}
.divisao img{
    margin: 0;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

/*SOBRE*/
.sobre {
    display: flex;
    margin-bottom: 5%;
    flex-wrap: wrap;
    justify-content: center;
}

.sobre .container3 {
    width: 50%;
    flex-direction: row;
    font-family: 'Barlow';
    text-align: center;
}

.sobre .container3 h1 {
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: #05FF00;
    font-weight: bolder;
    text-shadow: 2px 2px#22222262;
    padding: 10px;
}
.sobre .container3 p{
    font-size: 25px;
    width: 75%;
    margin: auto;
}

/*TIME*/
.time{
    margin-bottom: 5%;
    margin-top: 20px;
}
.time .container4 h1{
    width: 100%;
    margin-bottom: 5%;
    font-family: 'Barlow';
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: #05FF00;
    font-size: 40px;
    text-shadow: 2px 2px#22222262;
    padding: 10px;
    margin-left: 20px;
}
.time .container4{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.time .dev{
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Barlow';
}
.time .dev:hover{
    width: 23%;
    font-size: 20px;
}
.time img{
    width: 80px;
    height: 80px;
}
.dev .foto{
    width: 200px;
    height: 200px;
    background-color: #B4FF5C;
    border-radius: 100px;
}

.container4{
    display: flex;
}

/*Começo simulação*/

.box{
    width: 450px;
    height: 280px;
    padding: 20px;
    justify-content: center;
    font-family: 'Barlow';
    background-color: #B4FF5C;
    border-radius: 15%;
    box-shadow: 10px 10px #003A00;
    margin-left: 80px;
    margin-top: 10px;
}

.div_simulação{
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: #05FF00;
    font-weight: bolder;
    text-shadow: 2px 2px#22222262;
    padding: 20px;
}

.simulacao{
    width: 100%;
    margin-left: 0px;
}
.simulacao .formulario{
    width: 65%;
    height: 500px;
    border-end-end-radius: 40%;
    border-top-right-radius: 40%;
    background-color: #fff;
}
.simulacao .container5{
    margin-left: 0px;
}
.simulacao{
    margin-bottom: 5%;
    background-color: #B4FF5C;
}

button{
    background-color: #e6005a;
    color: white;
    border: 0;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px;
}

.tituloSimulacao{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}

.paragrafo{
    margin-top: 30px;
    margin-left: 5px;
    font-size: 20px;
}

.input{
    border-radius: 20px;
    padding: 5px;
}

.mensagem{
    margin-top: 120px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 200px;
    margin-left: 50px;
    padding: 30px;
}

.simu{
    display: flex;
    height: 500px;
}

/*Fim simulação*/


/*CONTATO - FALE CONOSCO*/
.contact h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #05FF00;
    font-size: 40px;
    padding: 30px;
}
.formContact{
    width: 40%;
    background-color: #B4FF5C;
    padding: 5%;
    height: fit-content;
    border-radius: 20px;
}
.formContact input{
    width: 250px;
    border: 0px;
    border-radius: 5px;
    padding: 3px;
}
.contact img{
    margin-right: 15%;
}
.formContact #ddd{
    width: 60px;
}

.formContact #telefone{
    width: 208px;
}
.formContact #assunto{
    width: 250px;
    height: 100px;
}
.formContact #enviar{
    padding: 10px;
    border-radius: 20px;
    background-color: #E6005A;
    border: 0px;
    color: #fff;
    text-align: center;
    box-shadow: 2px 2px #000;
}

.container5{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 150px;
}

.botaoForm{
    width: 200px;
    margin-left: 80px;
}
/*Começo footer */
footer{
    background-color: black;
    color: white;
    margin-top: 30px;
    height: 280px;
}

.linha{
    display: flex;
    flex-direction: row;
}

.telefoneEmail{
    margin-top: 20px;
    margin-left: 10px;
}

.botoesfooter{
    margin-left: 200px;
    display: flex;
}

.botaoFoo {
    width: 200px;
    font-size: 20px;
    padding: 5px;
}

.textoFooter{
    padding: 20px;
    text-align: center;
}

.linha2{
    display: flex;
    align-items: center;
    margin-top: 0px;
}

.imgfoo{
    margin-left: 350px;
    margin-top: 10px;
}
.botaofoo2{
    margin-left: 550px;
}